.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caluclator
{
  
    height: 500px;
    width: 400px;
  text-align: center
  ;
}

.input-1 , .input-2
{
    display:block;
    margin-right: 10px;
}

.cal-button
{
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
}

.cal-button:hover
{
    background-color: orangered;
}