*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(17, 4, 38);

}

.app{
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    margin: 300px auto 0;
    border-radius: 10px;
    padding: 30px;

}

.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 1000;
    border-bottom: 1px solid #333;
    padding-bottom: 30px ;

}

.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    padding-bottom: 20px;
}

.btn{
    font-size: 15px;
    background: #fff;
    color: #222;
    font-weight: 600;
    border: 1px solid #222;
    width: 100%;
    padding: 20px;
    margin: 25px 0;
    display: flex;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;

}

.btn:hover:not([disabled]) {
background: #222;
color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0 ;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    

}

.correct {
    background: #9aeacb ;
}

.incorrect {
    background: #ff9393;
}