*{
    padding: 0;

    margin: 0;
    
    box-sizing: border-box;
}

body{
  background: rgba(186, 33, 133, 0.527);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1{
    font-family: sans-serif;

    border: 2px solid #ccc;
    padding: 20px;
}